<!DOCTYPE html>
<html lang="en">
<head>
    <title>relive</title>
    <meta name="title" content="Relive">
    <meta name="description" content="Stories are transformative and every time we share our stories they transform too.">
    <meta name="keywords" content="relive, story sharing, storytelling, decentralized, ipfs">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">

    <!-- Primary Meta Tags -->
    <title>Relive ● grow your stories with the way you tell them</title>
    <meta name="title" content="Relive ● grow your stories with the way you tell them">
    <meta name="description" content="Stories are transformative and every time we share our stories they transform too.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://relive.super.site/">
    <meta property="og:title" content="Relive ● grow your stories with the way you tell them">
    <meta property="og:description" content="Stories are transformative and every time we share our stories they transform too.">
    <meta property="og:image" content="https://i.ibb.co/Qjf6HMV/relive-logo.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://relive.super.site/">
    <meta property="twitter:title" content="Relive ● grow your stories with the way you tell them">
    <meta property="twitter:description" content="Stories are transformative and every time we share our stories they transform too.">
    <meta property="twitter:image" content="https://i.ibb.co/Qjf6HMV/relive-logo.png">


    <meta name="theme-color" content="#00ffae">
    
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="wrapper">
    <div class="relive"><p class="made-with">made with: </p> <img class="relive-logo" src="/images/relive_logo.png"></div>
    <video controls="" autoplay="" name="media">
        <source src="https://ipfs.io/ipfs/<%- cid %>?<%- cid %>" type="video/mp4"></video>
    </div>
</body>
</html>